@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');

:root {
    --fonte-primaria: 'Fuggles', cursive;
    --cor-de-fundo: #4C3D3D;
    --cor-primaria: #FFD95A;
    --cor-secundaria: #FFF7D4;
    --detalhes: #C07F00;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-primaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--fonte-primaria);
}

h1 {
    font-size: 7em;
}
h3 {
    font-size: 3.5em;
    margin-top: 20px;
}

.mensagem {
    font-size: 2em;
    margin-top: 40px;
}

.box {
    border: 4px double var(--detalhes);
    box-shadow: var(--cor-secundaria) 2px 2px 25px;
    display: inline-block;
    font-size: 5em;
    padding: 10px;
    margin: 20px;
}